<head>
  <script src="/js/registration.js" type="text/javascript" charset ="utf-8"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/registration.css">
</head>
<br><br><br><br><br>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form">
			<h2>정 보 수 정  <small>정확하게 입력할수록 정확한 정보를 얻을 수 있습니다</small></h2>
			<hr class="colorgraph">
			<div class="row">
				
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, disabled: true, autofocus: true, :placeholder => "평소 이용하는 이메일을 입력해주세요", :class => 'form-control input-lg' %>
					</div>
				</div>
				
				<p style="text-align:center">- 비밀번호 변경을 원할때만 입력해주세요 -</p>
				<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
					    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
				<% end %>
				
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<%= f.label :password %>
              <% if @minimum_password_length %>
              <small>(최소 <%= @minimum_password_length %>자 이상 입력해주세요)</small>
              <% end %><br />
            <%= f.password_field :password, autocomplete: "off", :class => "form-control input-lg", :placeholder=>"변경할 비밀번호를 입력해주세요" %>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<%= f.label :password_confirmation %><br />
           			    <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control input-lg", :placeholder=>"변경할 비밀번호를 다시 입력해주세요" %>
					</div>
				</div>
				
	&nbsp;<hr>
	
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="form-group">
				    <label style="font-weight:700">현재 비밀번호</label><br />
				    <%= f.password_field :current_password, autocomplete: "off", :class=>"form-control input-lg", :placeholder=>"현재 비밀번호를 입력해주세요"  %>
 				  </div>
  				</div>
		
				
	
		    <div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<%= f.label :username %><br />
            <%= f.text_field :username, disabled: true, autofocus: true, :class=>"form-control input-lg", :placeholder=>"이름" %>
					</div>
				</div>
    
        <div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
					 <%= f.label :nickname %><br />
           <%= f.text_field :nickname, disabled: true, autofocus: true, :class=>"form-control input-lg", :placeholder=>"별명" %>
					</div>
				</div>
   
       <div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
					 <%= f.label :job %><br />
           <%= f.text_field :job, autofocus: true, :class=>"form-control input-lg", :placeholder=>"직업" %>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
					 <%= f.label :age %> <br />
           <%= f.text_field :age, autofocus: true, :class=>"form-control input-lg", :placeholder=>"나이" %>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
					 <%= f.label :tall %> <small>('cm'도 같이 입력해주세요)</small><br />
           <%= f.text_field :tall, autofocus: true, :class=>"form-control input-lg", :placeholder=>"키(신장)" %>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
					 <%= f.label :topsize %> <small>(XS, S, M, L, XL, XXL, XXXL 중)</small><br />
           <%= f.text_field :topsize, autofocus: true, :class=>"form-control input-lg", :placeholder=>"상의 사이즈" %>
					</div>
				</div>
			</div>
				
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
					 <%= f.label :bottomsize %> <small>(허리사이즈 22~38 중)</small><br />
           <%= f.text_field :bottomsize, autofocus: true, :class=>"form-control input-lg", :placeholder=>"하의 사이즈" %>
					</div>
  			</div>
				
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
					 <%= f.label :footsize %> <small>('mm'도 같이 입력해주세요요)</small><br />
           <%= f.text_field :footsize, autofocus: true, :class=>"form-control input-lg", :placeholder=>"발 사이즈" %>
					</div>
				</div>
      </div>
			
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-4"></div>
				<div class="col-xs-12 col-md-4">
						<div class="actions">
					 		<%= f.submit "변경완료",:class => 'btn btn-primary btn-block btn-lg' %>
	          </div>
	      </div>    
	      <div class="col-xs-12 col-md-4"></div>
 				
	        		<% end %>
			</div>
		</form>
		
		<%= devise_error_messages! %>
		
		</div>
	</div>
</div>

